<!DOCTYPE html>
<html>
    <head>
        <title>Contact - Demo HTML Page</title>
        <style>
            body
            {
                background-color: cornflowerblue; 
                font-family: 'Segoe UI'; 
                color:#fff; 
                padding: 20px;
            }            
            h1
            {
                font-size: 48px;
                text-transform: uppercase;
                text-align:  center;
            }
            p
            {
                font-size: 24px;
                text-align: center;
            }
            </style>
    </head>
    <body>
        <header>
            <h1>Contact - Hello Folks!</h1>
        </header>
        
        <div style="text-align: center">
            <form id ="" method="POST" action='\contact'>
                <label for="who">Whom you want to contact?</label><br>
                <input type="text" name="who" value= "<%= qs.person %>" /><br>
                <label for="dept">which department?</label><br>
                <input type="text" name="dept" value="<%= qs.dept %>" /><br>
                <label for="email"> Your email adress</labe><br>
                <input type="email" name="email"/>      <br>         
                <input type="Submit" value="Submit" />                
            </form>     
        </div>
                    
</html>
