<!DOCTYPE html>
<html>
    <head>
        <title>Home - Demo HTML Page</title>
        <style>
            body
            {
                background-color: cornflowerblue; 
                font-family: 'Segoe UI'; 
                color:#fff; 
                padding: 20px;
            }            
            h1
            {
                font-size: 48px;
                text-transform: uppercase;
                text-align:  center;
            }
            p
            {
                font-size: 24px;
                text-align: center;
            }
            </style>
    </head>
    <body>
        <header>
            <h1>Hello Folks!</h1>
        </header>
        
        <p>
            Lorem Ipsum....and More of it
            more and more..and more
        </p>
        
</html>
